h1, h2, h3, h4, h5, h6, button {
  cursor: default;
  outline: 0;
}

body {
  background: #000;
  background-image: url("http://www.desktopwallpaperhd.net/wallpapers/11/7/piano-scenic-background-ivory-ebony-wallpapers-images-111911.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Fjalla One";
}

#canvas {
  border: 5px solid #fff;
  background-image: url("../img/background.jpg");
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#score-board {
  width: 100%;
  padding-top: 20px;
  font-size: 50px;
  color: #f00;
  text-align: center;
  text-shadow: 0 3px #555;
  z-index: 1;
}

#main-screen {
  width: 403px;
  height: 600px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

#main-screen h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 45px;
  margin: 30px 0 10px 0;
  color: #333;
}

#main-screen > section.credit {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  color: #fff;
}

#main-screen h3 {
  display: inline-block;
  font-size: 20px;
}

#main-screen a {
  color: inherit;
  margin-left: 10px;
}

#main-screen i {
  font-size: 25px;
}

.instruction {
  height: 90px;
  margin: 20px 0;
  box-sizing: border-box;
  display: flex;
}

.instruction > div {
  display: inline-block;
  width: 100px;
  border-right: 1px solid #fff;
}

.instruction > div:last-child {
  border-right: none;
}

.instruction > div > img {
  width: 70px;
  margin: 10px;
}

.list {
  height: 304px;
  margin: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.list::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #eee;
	border-radius: 50px;
}

.list::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.list::-webkit-scrollbar-thumb
{
	border-radius: 50px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.list ul,
.list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  background: #fff;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.list li:hover {
  box-shadow: 1px 3px 5px rgb(130, 130, 130);
}

.list li:last-child {
  margin-bottom: 0;
}

.list li p {
  margin: 0;
  padding: 5px 0 5px 5px;
}

.list li button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Fjalla One";
  border: none;
  border-radius: 10px;
  background: #42b6f4;
  color: #fff;
  width: 100px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.list li button:hover {
  filter: brightness(1.2);
}

#game-end-screen {
  width: 403px;
  height: 600px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#game-end-screen > div {
  width: 100%;
  height: 150px;
  margin: 225px 0;
  background: #fff;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}

#game-end-screen > div p {
  cursor: default;
  display: block;
  color: #000;
  font-size: 30px;
  margin: 0 0 13px 0;
}

#game-end-screen > div i {
  color: #42b6f4;
  font-size: 60px;
  cursor: pointer;
  margin: 0;
}

#game-end-screen > div i:hover {
  filter: brightness(1.2);
}

#game-end-screen > div i:first-child {
  margin-right: 50px;
}

div.countdown {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 100px;
  font-family: "Permanent Marker";
  color: #f00;
  text-align: center;
  height: 100px;
}

#warning {
  display: none;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(149, 14, 222);
  z-index: 99;
  text-align: center;
  font-size: 25px;
}

#warning h1 {
  margin: 0;
}
