body {
  background: #000;
}

#canvas {
  border: 5px solid #fff;
  background-image: url("../img/background.jpg");
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#score-board {
  width: 100%;
  padding-top: 20px;
  font-size: 50px;
  font-family: "Fjalla One", sans-serif;
  color: #f00;
  text-align: center;
  text-shadow: 0 3px #555;
  z-index: 10;
}
